@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Hurricane&family=Kanit:ital,wght@1,600&family=Poppins:ital,wght@0,400;0,800;1,200;1,300;1,600&family=Rubik:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* nav */
nav {
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.toggle {
    position: fixed;
    right: 30%;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #207196;
    cursor: pointer;    
}

nav h1{
    font-family: 'Rubik';
    margin: 10px;
}

nav ul {
    background-color: lightblue;
    transition: 0.4s all linear;
    border-radius: 25px;
    margin: 10px;
    width: 200px;
    margin-top: 20px;
    height: 0;
    overflow: hidden;
    font-family: 'Poppins';
}

.show-links {
    height: 8rem;
}

nav ul li {
    list-style: none;
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

nav ul li a:hover {
    color: black;
    background-color: lightcoral;
}


@media screen and (min-width: 860px) {
    nav {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        width: 100%;
        top: 0;
    }

    .toggle {
        display: none;
    }

    nav ul {
        background-color: lightblue;
        display: flex;
        flex-direction: row;
        margin: 10px;
        padding: 15px;
        border-radius: 25px;
        width: auto;
        height: auto;
    }

    nav ul li a{
        text-decoration: none;
        color: black;
    }

    .show-links {
        height: auto;
    }
    
}


/* dark/light modes */
.modes {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
    font-size: 30px;
    cursor: pointer;
}

.modes:hover {
    color: darkgray;
}

/* scroll up */
.scrollup {
    position: fixed;
    right: 10px;
    bottom: 10px;
    font-size: 40px;
    transition: all 0.5s linear;
    background-color: lightblue;
    border: none;
    padding-right: 2px;
}

.scrollup:hover {
    transform: rotate(360deg);
}


/* home */
.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.myName{
    font-size: 60px;
    font-family: 'Kanit';
    display: flex;
    flex-direction: row;
}

.myName h4 {
    font-size: 10px;
    margin-left: 5px;
    position: absolute;
    
}

 .hidden {
    display: none;
}

.myName a{
    font-size: 10px;
    color: blue;
    cursor: pointer;
}

/* projects */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}

.container h1 {
    font-size: 50px;
    margin: 30px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.project {
    background-color: whitesmoke;
    box-shadow: black 5px 2.5px 12.5px;
    width: 600px;
    height: 600px;
    border: 2px black solid;
    padding: 5px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project img {
    width: 550px;
    cursor: pointer;
}

.info {
    padding: 25px;
}

.moreprojects a {
    text-decoration: none;
    color: red;
}

/* about me */

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}


/* skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills h1 {
    margin-top: 200px;
    margin-bottom: 50px;
    font-family: 'Rubik';
    font-size: 60px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.skill-box{
    margin: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.skill{
    width: 300px;
    padding: 20px;
    border: 1px orange solid;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.skill-title {
    text-align: center;
}

.skill-icon i{
    font-size: 50px;
}

/* icon colors */
.skill-rating i {
    color: orange;
}

.fa-html5 {
    color: #E44D26;
}

.fa-css3 {
    color: #254BDD;
}

.fa-js-square {
    color: #DDD519;
}

.fa-react {
    color: #00D5F7;
}

.fa-node-js {
    color: #8BBF3D;
}

.fa-wordpress {
    color: #207196;
}

/* footer */
footer {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-box {
    border-radius: 25px;
    width: 700px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: black;
}

.contact-info {
    display: flex;
    flex-direction: row;
    color: black;
}

.contact-info h2 {
    margin: 5px;
    color: black;
}

.footer-icon {
    margin-left: 8px;
    color: black;
}


/* dark mode */
.dark {
    background-color: black;
    color: white;
}